body {
  font-family: Arial, Helvetica, sans-serif;
}

.modal {  
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
}

.modal-content .button {
  margin: 0 0 0 30%;
}

.modal a {
  border: 1px solid deepskyblue;
  color: deepskyblue;  
  padding: 1em 1.5em;
  margin: 0 2px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

.modal a:hover {  
  background-color: deepskyblue;
  color: white;
}

.modal a:active {
  border: 1px solid black;
  background-color: black;
  color: white;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
}

.main {
  background: deepskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal {
  height: 370px;
}

.animal-0 {
  background: white;
}

.animal-1 {
  background: #E3E3E3;
}


.animal-2 {
  background:#E3E3E3;  
}

.animal-3 {
  background: white;  
}

.imageContainer{
  height: 240px;
  margin-bottom: 5px;
  padding-top: 40px
}

.textContainer {
  margin-bottom: 15px;  
}

.button {
  border: 1px solid deepskyblue;
  color: deepskyblue;
  padding: 0.5em 0.5em;
  margin: 0 0.5em 0 0;
  font-weight: bold;
}

.button:hover {
  background-color: deepskyblue;
  color: white;
}

.button:active {
  border: 1px solid black;
  background-color: black;
  color: white;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
}